*{
    background-color: #f0f8ff;
}

h1{
    background-color: #c8b2ff;
    color: #4169e1;
    text-align: center;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre;
}